#accordion{
	margin-top:10px;
	font-size: 12px;
}

#accordion .panel-heading{
	padding:5px 10px;
	width:198px;
}
#accordion .panel-heading a{
	text-decoration: none;
	color:#31708f;
}

#accordion .panel{
	background:none;
	border:none;
	box-shadow: none;
	-webkit-box-shadow:none;
}

#accordion .panel-body{
	color: rgb(99,99,99);
	border-top-color: #31708f;
	padding: 5px;
}